* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  display: grid;
  grid-template-rows: 120px 1fr 450px;
  grid-template-columns: 100%;
  grid-template-areas: "header" "main" "footer"; }
  body header {
    grid-area: header; }
  body main {
    grid-area: main; }
  body footer {
    grid-area: footer; }

@font-face {
  font-family: letraVerde;
  src: url(../Assets/Fonts/Montserrat/static/Montserrat-Black.ttf); }

@font-face {
  font-family: letraSubTitulo;
  src: url(../Assets/Fonts/Montserrat/static/Montserrat-Bold.ttf); }

header {
  display: grid;
  grid-template-rows: 120px;
  grid-template-columns: 0.5fr 1fr;
  grid-template-areas: "nav_img nav"; }
  header .header__img {
    grid-area: nav_img;
    text-align: center; }
    header .header__img img {
      height: 120px; }
  header .header__nav {
    grid-area: nav;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    header .header__nav li a {
      font-family: letraVerde;
      text-decoration: none;
      color: #78C232; }

.footer__ondas {
  background-image: url(../Assets/Images/wave.svg);
  background-size: cover;
  height: 300px;
  width: 100%; }

.footer__cuadrado {
  background-color: #78C232;
  width: 100%;
  height: 150px; }
  .footer__cuadrado ul {
    list-style: none;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .footer__cuadrado ul li {
      text-align: center;
      font-family: letraVerde;
      color: white; }

.main__index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "index_img" "index_info" "beneficios"; }

.index__img {
  grid-area: index_img; }
  .index__img img {
    width: 100%; }

.index__info {
  margin-top: 30px;
  margin-bottom: 60px;
  grid-area: index_info;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .index__info div {
    width: 30%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; }

.beneficios {
  grid-area: beneficios; }
  .beneficios .beneficios__titulo {
    text-align: center;
    font-family: letraSubtitulo;
    font-size: 2rem; }
  .beneficios .beneficios__lista div {
    height: 200px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .beneficios .beneficios__lista div li {
      font-family: Arial, Helvetica, sans-serif;
      width: 50%;
      text-align: center; }
      .beneficios .beneficios__lista div li img {
        height: 150px; }

@media (max-width: 425px) {
  body {
    grid-template-rows: 150px 1fr 450px; }
  /* Header */
  header {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-rows: 90px 60px;
    grid-template-columns: 1fr;
    grid-template-areas: "nav_img" "nav"; }
    header .header__img img {
      height: 90px; }
    header .header__nav {
      grid-area: nav;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; }
      header .header__nav li a {
        font-family: letraVerde;
        text-decoration: none;
        color: #78C232;
        font-size: .9rem; }
  /* Index */
  .index__img img {
    width: 100%; }
  .beneficios__lista div {
    flex-direction: column; }
    .beneficios__lista div li {
      font-family: Arial, Helvetica, sans-serif;
      width: 100%;
      text-align: center; }
      .beneficios__lista div li img {
        height: 125px; } }
