@media (max-width: 1201px) {
}

@media (max-width: 769px) {
    /* Header */

    header{
        grid-template-areas: 0.25fr 1.75fr;
    }

    /* Index */

    .index__info{
        div{
            width: 40%;
        }
    }

    .beneficios__lista{
        div{
            justify-content: space-evenly;
            li{
                width: 40% !important;
            }
        }
    }

    /* Quienes Somos */
}

@media (max-width: 426px) {
    body{
        grid-template-rows: 150px 1fr 450px;
    }

    /* Header */

    header{
        border-bottom: 1px solid black;
        display: grid;
        grid-template-rows: 90px 60px;
        grid-template-columns: 1fr;
        grid-template-areas:"nav_img"
                            "nav";
        .header__img{
            img{
                height: 90px;
            }
        }
        .header__nav{
            grid-area: nav;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            li{
                a{
                    font-family: letraVerde;
                    text-decoration: none;
                    color: #78C232;
                    font-size: .9rem;
                }
            }
        }
    }

    /* Index */
    .index__img{
        img{
            width: 100%;
        }
    }

    .index__info{
        margin-top: 20px;
        flex-direction: column;
        align-items: space-evenly;
        height: 400px;
        div{
            width: 70%;
        }
    }

    .beneficios__lista{
        div{
            height: 250px !important;
            flex-direction: column !important;
            justify-content: space-evenly !important;
            li{
                font-family: Arial, Helvetica, sans-serif;
                width: 100%;
            }
        }
    }

    /* Quienes Somos */

    .main__quienes_somos{
        grid-template-rows: 0.5fr 10.5fr;
    }

    .quienes_somos{
        h1{
            text-align: center;
            font-family: letraSubtitulo;
            font-size: 1rem;
        }
        .quienes_somos__subtitle{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            p{
                width: 80%;
            }
        }
    }

    .quienes_somos__info{
        div{
            height: 400px;
            list-style: none;
            display: grid;
            grid-template-rows: 300px 300px 350px 300px;
            grid-template-columns: 1fr;
            grid-template-areas:"texto1"
                                "foto1"
                                "texto2"
                                "foto2";
        }
    }

    .quienes_somos__texto1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .quienes_somos__foto1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 80%;
        }
    }

    .quienes_somos__texto2{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .quienes_somos__foto2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 80%;
        }
    }
}